APP_NAME="inEvent"
APP_ENV=development
APP_KEY=base64:GERE_COM_php_artisan_key:generate
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=event_weather
DB_USERNAME=weather_user
DB_PASSWORD=weather_pass

OPENWEATHER_API_KEY=sua_chave_aqui
